<div
  class="w-full min-h-screen bg-white flex flex-col items-center px-5 pt-[87px]"
  dir="rtl">

  <!-- כותרת -->
  <h1 class="text-[24px] leading-[31px] font-normal text-[#134812] w-full text-right mb-[40px]">
    כניסה לחשבון
  </h1>

  <!-- אימייל -->
  <div class="w-full max-w-[361px] flex flex-col   mb-6">
    <label class="text-[16px] text-[#3E3E3E] mb-[6px]" >אימייל</label>

    <input pInputText type="email"
      placeholder="אימייל"
      class="w-full h-[60px] bg-[#F6F6F6] border border-[#DCE4DB] rounded-full px-6
             text-[16px] text-right placeholder:text-[#737373]" />
  </div>

  <!-- סיסמה -->
  <div class="w-full max-w-[361px] flex flex-col  mb-2">
    <label class="text-[16px] text-[#3E3E3E] mb-[6px]">סיסמא</label>

    <div class="relative w-full">
      <input pInputText [type]="showPassword ? 'text' : 'password'"
            placeholder="סיסמא"
        class="w-full h-[60px] bg-[#F6F6F6] border border-[#DCE4DB] rounded-full px-6 pr-12
               text-[16px] text-right placeholder:text-[#737373]" />

      <img src="assets/eyes.png"
        (click)="togglePassword()"
        class="absolute left-5 top-1/2 -translate-y-1/2 w-[24px] h-[24px] opacity-60 cursor-pointer select-none">
    </div>
  </div>

  <p class="w-full max-w-[361px] text-right text-[14px] text-gray-600 mb-8 cursor-pointer">
    שכחת סיסמא?
  </p>

  <!-- כפתור התחברות -->
  <button
    class="w-full max-w-[361px] h-[56px] rounded-full bg-[#134812] border border-black
           shadow-md flex items-center justify-center text-[16px] font-bold text-[#B1EB70] mb-10"
    routerLink="/addProduct">
    בוא נתחיל להוסיף מוצרים!
  </button>

  <!-- או -->
  <div class="w-full max-w-[361px] flex items-center justify-center mb-8">
    <div class="flex-1 h-[1px] bg-[#3E3E3E]"></div>
    <span class="mx-4 text-[18px] text-[#3E3E3E]">או</span>
    <div class="flex-1 h-[1px] bg-[#3E3E3E]"></div>
  </div>

  <!-- Google button -->
  <button
    class="w-full max-w-[361px] h-[56px] rounded-full bg-white border border-[#888]
           flex items-center justify-center gap-3 text-[16px] text-black mb-8">
    <img src="assets/icons_google.png" class="w-[24px] h-[24px]" />
    התחברות עם גוגל
  </button>

  <!-- כניסה ללא משתמש -->
  <button
    class="w-full max-w-[361px] h-[56px] rounded-full bg-white text-[16px] text-[#134812] mb-3">
    כניסה ללא משתמש
  </button>

  <!-- יצירת חשבון -->
  <button
    class="w-full max-w-[361px] h-[56px] rounded-full bg-white text-[16px] text-[#134812] font-semibold"
    routerLink="/register">
    עוד אין לך משתמש? בוא ניצור אחד
  </button>
</div>
