@import '../../../../styles/variables';

:host {
  font-family: $font-family-base;
}

input,
button {
  font-family: $font-family-base;
}

input:focus,
.p-inputtext:focus {
  outline: none !important;
  box-shadow: none !important;
}

.p-inputtext {
  border-radius: 100px !important;
  background: #F6F6F6 !important;
}

.p-button {
  border-radius: 100px !important;
}
