@import '../../../../styles/variables';

:host {
  font-family: $font-family-base;
}

.p-inputtext {
  background-color: #f6f6f6 !important;
  border-radius: 999px !important;
  border: 1px solid #DCE4DB !important;
}

.p-inputtext::placeholder {
  direction: rtl !important;
  text-align: right !important;
  color: #737373 !important;
}

.p-button {
  border-radius: 999px !important;
  background-color: $color-primary !important;
}
