@import '../../../../styles/variables'; 
/* Override PrimeNG Button shape */
:host ::ng-deep .btn-round {
  border-radius: 9999px !important; 
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.text{

font-family: $font-family-base;
color: $color-text;
}
p{

}